@model Post


<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">@Model.Title</h1>
            <!--post a ait tag larin renkliolarak listelenmesi-->
            <div class="tags">
                @foreach (var item in Model.Tags)
                {
                    <a href="/posts/tags/@item.Url" class="badge bg-@item.Color bg-opacity-10 text-@item.Color mb-2 fw-bold">@item.Text</a>
                }
            </div>
          
            <img src="~/img/@Model.Image" class="img-fluid rounded" alt="" />
            <ul class="list-inline my-3">
                <li class="list-inline-item"><i class="bi bi-calendar"></i> @Model.PublishedOn.ToString("d")</li>
                <li class="list-inline-item"><i class="bi bi-person-circle"></i><a href="/profile/@Model.User.UserName"> @Model.User.Name</a></li>
            </ul>
            <hr class="py-3" />
            <div>
                @Html.Raw(@Model.Content)
            </div>
        </div>
        <!--post a ait yorumlarin listelenmesi-->
        <div class="bg-white mt-3">
            <div class="card border-0">
                <div cite="card-hedar pb-0">
                    <h4><span id="commentCount">@Model.Comments.Count()</span>  adet yorum yapildi!</h4>
                </div>
                <div class="card-body">
                    <div id="comments">
                        <!--Eger yorum girilirse direkt DB den alinip sayfada görünmesini saylayacagiz.
                        Asagidaki script ile erisim sayfa dinamik olarak güncel görünecek-->
                        @foreach (var comments in Model.Comments)
                        {
                            <div class="my-4 d-flex">
                                <img src="/img/@comments.User.Image" class="avatar rounded-circle float-start me-3" />
                                <div>
                                    <div class="mb-2 d-flex">
                                        <h6 class="me-2"><a href="/profile/@Model.User.UserName">@comments.User.Name </a></h6>
                                        <small>@comments.PublisedOn.ToString("d")</small>
                                    </div>
                                    <p>@comments.Text</p>
                                </div>
                            </div>
                        }
                    </div>
                  @if (User.Identity!.IsAuthenticated) //Eger kullanici uygulamaya giris yaptiysa yorum yapabilsin. Identity! null deger olamaz.
                    {
                        <hr class="my-4" />
                        <!--Yorum formu-->
                        <div class="mb-4 p-3">
                            <h4 class="mb-3">Yorum Ekle</h4>
                            <form action="/post/AddComment" method="post">
                                <input type="hidden" name="Url" value="@Model.Url" />
                                <!--Yorum yapildiktan sonra sayfa url sini PostControllerde AddComment Action da sayfa geri calistirilacak eklenen yeni yorumla beraber-->
                                <!--action="/posts/AddComment"-->
                                <input type="hidden" id="PostId" name="PostId" value="@Model.PostId" />
                                <div class="mb-3">
                                    <label for="Text" class="form-label">Yorum</label>
                                    <textarea type="text" name="Text" placeholder="Yorum" id="Text" rows="3" class="form-control"></textarea>
                                </div>
                                <div class="mb-3">
                                    <button id="btnYorumGonder" type="submit" class="btn btn-primary">Gönder</button>
                                    <!--asagidaki script in calisabilmesi icin id ile oradan erisim saglanmali-->
                                </div>
                            </form>
                        </div>
                    }
                    else
                    {
                        <p class="mb-2 p-2">Yorum yapabilmek icin uygulamaya buradan <a class="badge bg-secondary" asp-action="Login" asp-controller="User">Giris</a> yapabilirsiniz.</p>
                    }
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!--ViewComponents den veri kullanma islemi -->
        @*  <vc:[tags-menu]></vc:[tags-menu]> *@<!--1.Yöntem TagHelpers TagsMenu componenti icin vc:tags-menu yazarak -->
        @await Component.InvokeAsync("TagsMenu")
        @await Component.InvokeAsync("NewPosts")
    </div>
</div>
@section Scripts{
    <!--jquery kütüphanesi
        https://releases.jquery.com/
    -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
           
            //sayfadaki butun bilesenler yüklendikten sonra sayfa calisacak.
            $("#btnYorumGonder").click(function () {
                $.ajax({
                    type:'POST',
                    url: '@Url.Action("AddComment")',
                    dataType:'json',
                    data: {
                        //Controller deki AddComment Actiondan gonderilen parametreler tanimlanacak.ve actiondaki parametrelerde birebir aynisi olmak zorunda
                        PostId: $('#PostId').val(),
                        UserName: $('#UserName').val(),
                        Text: $('#Text').val(),
                    },
                    success: function (yorum) { 
                        console.log(yorum)
                        var date = new Date(yorum.publisedOn); //kisa tarih göstermek icin yapiyoruz
                       // console.log(yorum);
                         $("#comments").append(`
                                     <div class="my-4 d-flex">
                                     <img src="/img/${yorum.avatar}" class="avatar rounded-circle float-start me-3" />
                                        <div>
                                            <div class="mb-2">
                                            <h6>${ yorum.userName }  </h6>
                                            <small> ${ date.toLocaleDateString() } </small>
                        
                                            </div>
                                            <p> ${ yorum.text } </p>
                                        </div>
                                    </div>
                        `);
                        // daha sonra input kutularini bosaltmis olmamiz gerek
                                $(#UserName).val('');
                                $(#Text).val('');
                        var adet = parseInt($('#commentCount').text()) ;
                        $('#commentCount').text(adet + 1);
                    }
                });
                return false;
            });
        });
    </script>
}